<div class="row">
<% @dramas.each do |drama| %>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="rpost1">
      <div class="rimg">
        <%= image_tag(drama.image.url, :class => "img-responsive") %>
      </div><!-- Title & Para -->
      <div class="rdetails">
        <h5>
          <%= link_to(drama.name, category_drama_path(drama.category,drama)) %>
        </h5>
        <p>
          <%= drama.description %>
        </p>
      </div>
    </div>
  </div>
<% end %>
</div>